body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(87, 131, 169); */
    background: #ecf0f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#main {
    /* background-color: rgb(203, 227, 237); */
    background: #ecf0f3;
    /* border: 2px solid black; */
    border-radius: 10px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    width: 400px;
    margin: 10% auto;
    padding: 20px;
}

#main>h2 {
    text-align: center;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
}
label{
    color: gray;
    font-size: 24px;
}
#main form input {
    margin: 5px auto;
    color: gray;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    width: 90%;
    /* text-align: center; */
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    background: #ecf0f3;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;

}
#main form input::placeholder{
    color: grey;
}
button {
    /* padding: 5px; */
    width: 23.5%;
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 24px;
    box-shadow: 14px 14px 20px #cbced1, -3px -3px 10px white;
    /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px  */
}